
.img {
  width:100%;
}

.post:hover > img {
  transform: scale(2.2);
  filter: grayscale(100%);
}

.post img {
  transform: scale(1.5);
  transition: all 0.3s;
}

.post-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  transform: scale(1.5);
  transition: all 0.3s;
  opacity: 0;
}

.post:hover .post-overlay {
  transform: scale(1);
  opacity: 1;
}

.post .post-title {
  text-transform: uppercase;
}

.post {
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
