
body, html {
  margin: 0;
  background: #000;
  padding: 0;
}

.mat-button-white {
  background-color: rgba(255, 255, 255, 0.5);
}

div, section, button, .color-main {
  color: #20ade1;
}

.color-main-bg {
  background: #20ade1;

}
